/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: black !important;
    font-family: 'Poiret One', cursive;
    font-size: large;
}

html{
    background: black;
}

hr.dp{
    border-color: skyblue;
}

input.form-control{
    text-align: center;
    background: black;
    color: skyblue;
    font-size: 16pt;
    border: 3px solid skyblue;
    padding: 20px 12px;
    border-radius: 65px;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline{
    color: lightcoral;
    font-size: 18pt;
    font-weight: bold;
    margin: 28px 0;
    padding-bottom: 4px;
}

.nav-pills > li > a{
    border: 3px solid transparent;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    color: skyblue;
    background-color: black;
    border: 3px solid skyblue;
    border-radius: 65px;
    transition: 0.25s all;
}

.nav > li > a:hover, .nav > li > a:focus{
    text-decoration: none;
    background-color: black;
    border-bottom: 3px solid;
    border-radius: 65px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

a{
    color: skyblue;
    text-decoration: none;
}

a:hover{
    color: skyblue;
    text-decoration: none;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}