.btn-dp{
    width: 150px;
    transition: 0.25s all;
    background: black;
    border: 3px skyblue solid;
    border-radius: 65px;
    color: skyblue;
    font-weight: bold;
}

.btn-dp:hover{
    background: skyblue;
    color: black;
}

.btn-group{
    display: block;
}

.inlineblock{
    display: inline-block;
}

.btn-group > .btn-dp{
    border-left: 0;
    border-right: 0;
}

.btn-group > .btn-dp:first-child{
    border-left: 3px solid skyblue;
    border-bottom-left-radius: 65px;
    border-top-left-radius: 65px;
}

.btn-group > .btn-dp:last-child{
    border-right: 3px solid skyblue;
    border-bottom-right-radius: 65px;
    border-top-right-radius: 65px;
}

#page-main.jumbotron {
    text-align: center;
    background: black;
    color: white;
    border-radius: 35px;
    border-top-right-radius: 2px;
}
